.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*
 tip - name heading sizes with xs, s, m, l instead of h1, h2, h3, h4
 because in different situations, a h2 might be small, medium or large in size
*/
.heading-l {
}

.heading-m {
}
