:root {
  --yellow: #fcb72b;
  --dark-navy: #495567;
  --dim-grey: #939caa;
  --light-grey: #e5ecf4;
  --snow: #f2f5f9;
  --light-yellow: #fff4df;
  --white: #ffffff;

  /* spacing unit is 4px or 0.25rem */
  --spacing-4px: 0.25rem;
  --spacing-8px: 0.5rem;
  --spacing-12px: 0.75rem;
  --spacing-16px: 1rem;
  --spacing-20px: 1.25rem;
  --spacing-32px: 2rem;
  --spacing-40px: 2.5rem;
  --spacing-80px: 5rem;
  --spacing-120px: 7.5rem;
  --spacing-160px: 10rem;
  --spacing-164px: 10.25rem;

  --font-size-10px: 0.625rem;
  --font-size-11px: 0.6875rem;
  --font-size-12px: 0.75rem;
  --font-size-13px: 0.8125rem;
  --font-size-14px: 0.875rem;
  --font-size-15px: 0.9375rem;
  --font-size-16px: 1rem;
  --font-size-20px: 1.25rem;
  --font-size-21px: 1.3125rem;
  --font-size-22px: 1.375rem;
  --font-size-32px: 2rem;
  --font-size-56px: 3.5rem;

  --font-stack-lexend: Lexend Deca, sans-serif;
  /* Use it like this:
    font-family: var(--font-stack-lexend);
    */
  --font-stack-space: Space Mono, serif;
}
